nav{
    display: flex;
    background-color:white;
    align-items: center;
    height: 100px;
}
button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: darkcyan;
    border: 2px solid darkcyan;
    border-radius: 20px;
    text-decoration-line: none;
    cursor: pointer;
}
.buttom{
    display: flex;
    margin-left: 30px;
    align-items: center;
    gap: 35px;
}
button:hover{
    background-color: white;
    color: black;
    transition: 0.9s;
    transform: scale(1.1);
    transition: 0.5s;
}
.az{
    background-color: darkcyan;
}
h2{
    margin-left: 100px;
    cursor: pointer;
}
h2:hover{
    color: darkcyan;
    margin-left: 100px;
    cursor: pointer;
}
.card{
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    margin-block: 0 50px;
    padding-left: 0;
    padding: 30px;
    border-radius: 20px;
    width: 400px;
    background-color: white;
    text-decoration-line: none;
}
img{
    border-radius:10px;
}
.card:hover{
    transform: scale(1.1);
    transition: 1.10s;
    box-shadow: 0 4px 4px 4px gainsboro;
}
.s{
    display: flex;
    justify-content: center;
    gap:70px;
}
.ss{
    display: flex;
    justify-content: center;
    gap: 70px;
}
.e {
    background-color: white;
    color: darkcyan;
    border: 2px solid darkcyan;
    transition: 0.5s;
    margin-left: 695px;
}

.e:hover {
    background-color: transparent;
    color: white;
    transform: scale(1.1);
    border: 1px solid white;
}
.bl{
    background-color: white;
    color: black;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid darkcyan;
    border-radius: 20px;
    text-decoration-line: none;
    cursor: pointer;
}
.bl:hover{
    transition: 0.9s;
    transform: scale(1.1);
    transition: 0.5s;
}
.man{
    margin-left: 425px;
}
a{
    text-decoration: none;
    color: black;
}