.card {
    border: 2px solid whitesmoke;
    border-radius: 10px;
    width: 290px;
    height: 400px;
    cursor: pointer;
    position: relative;
}

.aziz {
    position: absolute;
    animation-name: aziz;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    right: 0px;
    top: -50px;
    right: -50px;
}

.buvijonim {
    display: flex;
}

.avaz {
    margin-left: 130px;
    cursor: pointer;
}

.bobo {
    display: flex;
    justify-content: space-around;
}

.card{
    transition: 0.8s;
}

@keyframes aziz {
    from {}

    to {
        transform: rotate(-20deg);

    }
}

.aziz {
    position: absolute;
    top: -50px;
    right: -50px;
}